<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des bourses</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des bourses</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Liste des bourses</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">
				<h:form>
					<h:panelGroup>
						<section id="content" class="gray-area">
							<div class="container">
								<div id="main">
									<div
										class="tab-container full-width-style arrow-left dashboard">
										<ul class="tabs">
											<li class=""><a data-toggle="tab" href="#profile"><i
													class="soap-icon-user circle"></i>Bourse</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade in active">
												<div class="view-profile">
													<figure
														class="image-box style2 box innerstyle personal-details">
														<a title="" href="#"><img width="270" height="263"
															alt="" src="http://placehold.it/270x263" /></a>
													</figure>

													<div class="details">
														<a href="#"
															class="button btn-mini pull-right edit-profile-btn">Postuler</a>
														<h1 class="box-title fullname">
															<h:outputText value="#{offerBean.o.titre}" />
														</h1>
														<BR />
														<dl class="term-description">
															<dt>Lieu:</dt>
															<dd>
																<h:outputText value="#{offerBean.o.mobilite}" />
															</dd>
															<dt>Date de publication:</dt>
															<dd>
															<h:outputText value="#{offerBean.o.dateFin}" />
															</dd>
															<dt>Reference de la bourse :</dt>
															<dd>
																<h:outputText value="#{offerBean.o.reference}" />
															</dd>
															<dt>Type de la bourse</dt>
															<dd>
																<h:outputText value="#{offerBean.o.typePoste}" />
															</dd>
															<dt>Adresse</dt>
															<dd>
																<h:outputText value="#{offerBean.o.adresse}" />
															</dd>
															<dt>Numéro du téléphone</dt>
															<dd>
																<h:outputText value="#{offerBean.o.numeroTel}" />
															</dd>
															<dt>E-Mail</dt>
															<dd>
																<h:outputText value="#{offerBean.o.email}" />
															</dd>
															
											

														</dl>
													</div>
													<HR />
													<h2>DESCRIPTION</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{offerBean.o.descriptionBourse}" />
														</p>
													</div>
													<hr />
													<h2>LES CONDITIONS</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{offerBean.o.conditionBourse}" />
														</p>
													</div>
													<hr />
													<h2>LES PIECES A FOURNIR </h2>
													<div class="intro">
														<p>
															<h:outputText value="#{offerBean.o.pieceBourse}" />
														</p>
													</div>
													<hr />
													<h:commandLink
														class="button btn-small pull-right"
														action="#{offerBean.doAccepterBourse()}"
														value="Accepter">
														<f:setPropertyActionListener value="#{o}"
															target="#{offerBean.o}"></f:setPropertyActionListener>
													</h:commandLink>
													<h:commandLink class="button btn-small pull-right"
													action="#{offerBean.doRefuserBourse()}" value="suprimer">
													<f:setPropertyActionListener value="#{o}"
														target="#{offerBean.o}"></f:setPropertyActionListener>
												</h:commandLink>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</h:panelGroup>
				</h:form>
			</div>
		</section>
	</ui:define>
</ui:composition>