<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des offres d'emploi</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des offres d'emploi</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Appel/Liste des offres d'emploi</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">
				<h:form>
					<h:panelGroup>
						<section id="content" class="gray-area">
							<div class="container">
								<div id="main">
									<div
										class="tab-container full-width-style arrow-left dashboard">

										<div class="tab-content">
										
											<div class="tab-pane fade in active">

												<div class="view-profile">
													<figure
														class="image-box style2 box innerstyle personal-details">
														<a title="" href="#"><img width="200" height="220"
															alt="" src="http://placehold.it/270x263" /></a>
													</figure>

													<div class="details">
															<h1 class="box-title fullname">
															<h:outputText value="#{offerBean.o.titre}" />
														</h1>
														<h:inputHidden class="input-text full-width"
															placeholder="ref" value="#{offerBean.o.id}" />
														<dl class="term-description">
															<dt>Societé:</dt>
															<dd>
																<h:outputText value="#{offerBean.o.id}" />
															</dd>
															<dt>Domaine </dt>
															<dd>
																<h:outputText value="#{offerBean.o.domain}" />
															</dd>
															<dt>Date de publication:</dt>
															<dd>
																<h:outputText value="#{offerBean.o.dateFin}" />
															</dd>
															<dt>Reference de l'offre :</dt>
															<dd>
																<h:outputText value="#{offerBean.o.reference}" />
															</dd>
															<dt>Localisation:</dt>
															<dd>
																<h:outputText value="#{offerBean.o.mobilite}" />
															</dd>
															<dt>Type de contrat</dt>
															<dd>
																<h:outputText value="#{offerBean.o.typePoste}" />
															</dd>
															<dt>Salaire:</dt>
															<dd>
																<h:outputText value="#{offerBean.o.salaire}" />
															</dd>
															<dt>Experience:</dt>
															<dd>
																<h:outputText value="#{offerBean.o.experience}" />
															</dd>
															<dt>Adresse</dt>
															<dd>
																<h:outputText value="#{offerBean.o.adresse}" />
															</dd>
															<dt>Numéro du téléphone</dt>
															<dd>
																<h:outputText value="#{offerBean.o.numeroTel}" />
															</dd>
															<dt>E-Mail</dt>
															<dd>
																<h:outputText value="#{offerBean.o.email}" />
															</dd>
														</dl>
													</div>
													<HR />
													<h2>L'entreprise</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{offerBean.o.entreprise}" />
														</p>
													</div>
													<hr />
													<h2>Description de l'offre</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{offerBean.o.contexte}" />
														</p>
													</div>
													<hr />
													<h2>Profil recherché</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{offerBean.o.profil}" />
														</p>
													</div>
													<hr />
												<h:commandLink
														class="button btn-small pull-right"
														action="#{offerBean.doAccepter()}"
														value="Accepter">
														<f:setPropertyActionListener value="#{o}"
															target="#{offerBean.o}"></f:setPropertyActionListener>
													</h:commandLink>
													<h:commandLink class="button btn-small pull-right"
													action="#{offerBean.doRefuser()}" value="suprimer">
													<f:setPropertyActionListener value="#{o}"
														target="#{offerBean.o}"></f:setPropertyActionListener>
												</h:commandLink>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</h:panelGroup>
				</h:form>
			</div>
		</section>
	</ui:define>
</ui:composition>