<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">




	<section id="content" class="gray-area">
		<div class="container">
			<div id="main">
				<div class="row">

					<div class="col-sm-8 col-md-9">
						<div class="sort-by-section clearfix">
							<h4 class="sort-by-title block-sm">Sort results by:</h4>
							<ul class="sort-bar clearfix block-sm">
								<li class="sort-by-name"><a class="sort-by-container"
									href="#"><span>name</span></a></li>
								<li class="sort-by-price"><a class="sort-by-container"
									href="#"><span>price</span></a></li>
								<li class="clearer visible-sms"></li>
								<li class="sort-by-rating active"><a
									class="sort-by-container" href="#"><span>rating</span></a></li>
								<li class="sort-by-popularity"><a class="sort-by-container"
									href="#"><span>popularity</span></a></li>
							</ul>

							<ul class="swap-tiles clearfix block-sm">
								<li class="swap-list active"><a href="car-list-view.html"><i
										class="soap-icon-list"></i></a></li>
								<li class="swap-grid"><a href="car-grid-view.html"><i
										class="soap-icon-grid"></i></a></li>
								<li class="swap-block"><a href="car-block-view.html"><i
										class="soap-icon-block"></i></a></li>
							</ul>
						</div>

						<h:form>
							<h:dataTable rendered="#{not empty profBean.users}"
								value="#{profBean.users}" var="user">
								<div class="col-sm-8 col-md-9">
									<h:column>
										<div class="car-list listing-style3 car">
											<article class="box">
												<figure class="col-xs-3">
													<span><img alt="" src="#{request.contextPath}/ressources/images/photo1.jpg" /></span>
												</figure>
												<div class="details col-xs-9 clearfix">
													<div class="col-sm-8">
														<div class="clearfix">
															<h4 class="box-title">
																<h:outputText value="#{user.firstName}" />
																<h:outputText value="#{user.lastName}" />

																<small><h:outputText value="#{user.login}" /></small>
															</h4>
															<div class="logo">
																<img src="http://placehold.it/110x25" alt="" />
															</div>
														</div>
														<div>
															<h:outputText value="#{user.email}" />
														</div>
													</div>
													<div class="col-xs-6 col-sm-2 character">
														<dl class="">
															<dt class="skin-color">Country</dt>
															<dd>
																<h:outputText value="#{user.country}" />
															</dd>
															<dt class="skin-color">City</dt>
															<dd>
																<h:outputText value="#{user.city}" />
															</dd>
															<dt class="skin-color">Address</dt>
															<dd>
																<h:outputText value="#{user.address}" />
															</dd>
														</dl>
													</div>
													<div class="action col-xs-6 col-sm-2">
														<span class="price"><h:outputText
																value="#{user.phoneNumber}" /></span>
															<h:commandLink
																class="button btn-small pull-right"
																action="#{profBean.doDelete()}" value="Delete">
																<f:setPropertyActionListener value="#{user}"
																	target="#{profBean.user}"></f:setPropertyActionListener>
															</h:commandLink>
													</div>
												</div>
											</article>
										</div>
									</h:column>
								</div>
							</h:dataTable>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</section>



</ui:composition>
