<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml"
                xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Ajouter Un Evenement</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		
	<section id="content">
            <div class="container">
            
	<h:form>
	 

    
    <div id="page-wrapper" >
        
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Detailed</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Hotel Detailed</li>
                </ul>
            </div>
        </div>
        <section id="content" >
            <div class="container">
                <div class="row" >
                    <div id="main" class="col-md-9" >
                        <div class="tab-container style1" id="hotel-main-content">
                            <ul class="tabs">
                                <li class="active"><a data-toggle="tab" href="#photos-tab">photos</a></li>
                                <li><a data-toggle="tab" href="#map-tab">map</a></li>
                                
                                
                                
                            </ul>
                            <div class="tab-content" >
                                <div id="photos-tab" class="tab-pane fade in active">
                                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                        
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 3000%; transition-duration: 0.6s; transform: translate3d(-900px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 300px; float: left; display: block;"><img src="http://placehold.it/900x500" alt="" draggable="false"> </img></li>
                                            <li style="width: 300px; float: left; display: block;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false"></img></li>
                                            <li style="width: 300px; float: left; display: block;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false"></img></li>
                                            <li style="width: 300px; float: left; display: block;" class="flex-active-slide"><img src="http://placehold.it/900x500" alt="" draggable="false"></img></li>
                                            <li style="width: 300px; float: left; display: block;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false"></img></li>
                                            <li style="width: 300px; float: left; display: block;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false"></img></li>
                                            <li style="width: 300px; float: left; display: block;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false"></img></li>
                                            <li style="width: 300px; float: left; display: block;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false"></img></li>
                                        <li style="width: 300px; float: left; display: block;" class="clone" aria-hidden="true"><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false"></img></li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li><li><a class="">4</a></li><li><a class="">5</a></li><li><a class="">6</a></li><li><a class="">7</a></li><li><a class="">8</a></li><li><a class="">9</a></li><li><a class="">10</a></li><li><a class="">11</a></li><li><a class="">12</a></li><li><a class="">13</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                                    <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                        
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 2600%; transition-duration: 0.6s; transform: translate3d(-160px, 0px, 0px);">
                                            <li class="" style="width: 70px; float: left; display: block; height: 70px; position: relative;"><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://photos.state.gov/libraries/tunisia/458281/logos/cemat.png" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://placehold.it/70x70" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://placehold.it/70x70" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://placehold.it/70x70" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://placehold.it/70x70" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://placehold.it/70x70" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                            <li style="width: 70px; float: left; display: block; height: 70px; position: relative;" class=""><img src="http://placehold.it/70x70" alt="" draggable="false" style="position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -35px;"></img></li>
                                        </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a>13</a></li><li><a>13</a></li><li><a class="">13</a></li><li><a class="">13</a></li><li><a class="">13</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                                </div>
                                
                                <div id="map-tab" class="tab-pane fade active in" style="height: 522px; position: relative; overflow: hidden;">
                              <p:gmap center="#{cdBean.show().localisation.latitude},#{cdBean.show().localisation.longitude}" zoom="13" type="HYBRID" style="width:100%;height:400px" model="#{cdBean.simpleModel}" />
                               
                              
                                </div>
                                
	
	
                                  
                            </div>
                        </div>
                        
                        <div id="hotel-features" class="tab-container">
                            <ul class="tabs">
                                <li class="active"><a href="#hotel-description" data-toggle="tab">Description</a></li>
                                
                                <li><a href="#hotel-amenities" data-toggle="tab">Amenities</a></li>
                                <li><a href="#hotel-reviews" data-toggle="tab">Reviews</a></li>
                                
                                
                                <li><a href="#hotel-write-review" data-toggle="tab">Write a Review</a></li>
                            </ul>
                            
                            <div class="tab-content">
                               <div class="tab-pane fade in active" id="hotel-description">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="col-sm-5 col-lg-4 features table-cell">
                                            <ul>
                                                <li><label>Nom:</label><h:outputText value="#{cdBean.show().cen_nom}" /></li>
                                                <li><label>TYPE:</label><h:outputText value="#{cdBean.show().type}" /></li>
                                                <li><label>PAYS:</label></li>
                                                <li><label>SIGLE:</label><h:outputText value="#{cdBean.show().cen_sigle}" /></li>
                                                <li><label>NATURE</label><h:outputText value="#{cdBean.show().cen_type}" /></li>
                                                <li><label>CODE POSTAL</label></li>
                                                <li><label>SITE WEB</label><h:outputText value="#{cdBean.show().cen_siteweb_url}" /></li>
                                                <li><label>FACEBOOK</label><h:outputText value="#{cdBean.show().cen_facebook_url}" /></li>
                                                <li><label>E-MAIL</label><h:outputText value="#{cdBean.show().cen_contact_email}" /></li>
                                                <li><label>TELEPHONE</label><h:outputText value="#{cdBean.show().cen_contact_telephone}" /></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-7 col-lg-8 table-cell testimonials">
                                            <div class="testimonial style1">
                                                
                                            <div class="testimonial-viewport" style="overflow: hidden; position: relative;"><ul class="slides " style="width: 600%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                    <li class="testimonial-active-slide" style="width: 320px; float: left; display: block; height: 200px;">
                                                        <p class="description">Always enjoyed my stay with Hilton Hotel and Resorts, top class room service and rooms have great outside views and luxury assessories. Thanks for great experience.</p>
                                                        <div class="author clearfix">
                                                            <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" draggable="false"></img></a>
                                                            <h5 class="name">Jessica Brown<small>guest</small></h5>
                                                        </div>
                                                    </li>
                                                    <li style="width: 320px; float: left; display: block; height: 200px;">
                                                        <p class="description">Always enjoyed my stay with Hilton Hotel and Resorts, top class room service and rooms have great outside views and luxury assessories. Thanks for great experience.</p>
                                                        <div class="author clearfix">
                                                            <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" draggable="false"></img></a>
                                                            <h5 class="name">Lisa Kimberly<small>guest</small></h5>
                                                        </div>
                                                    </li>
                                                    <li style="width: 320px; float: left; display: block; height: 200px;">
                                                        <p class="description">Always enjoyed my stay with Hilton Hotel and Resorts, top class room service and rooms have great outside views and luxury assessories. Thanks for great experience.</p>
                                                        <div class="author clearfix">
                                                            <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" draggable="false"></img></a>
                                                            <h5 class="name">Jessica Brown<small>guest</small></h5>
                                                        </div>
                                                    </li>
                                                </ul></div><ol class="testimonial-control-nav testimonial-control-paging"><li><a class="testimonial-active">1</a></li><li><a>2</a></li><li><a>3</a></li></ol></div>
                                        </div>
                                    </div>
                                    <div class="long-description">
                                        <h2>About Hilton Hotel and Resorts</h2>
                                        <p>
                                            Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.
</p>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="hotel-amenities">
                                    <h2>Amenities Style 01</h2>
                                    
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <ul class="amenities clearfix style1">
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-wifi"></i>WI_FI</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-swimming"></i>swimming pool</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-television"></i>television</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-coffee"></i>coffee</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-aircon"></i>air conditioning</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fitnessfacility"></i>fitness facility</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fridge"></i>fridge</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-winebar"></i>wine bar</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-smoking"></i>smoking allowed</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-entertainment"></i>entertainment</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-securevault"></i>secure vault</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-pickanddrop"></i>pick and drop</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-phone"></i>room service</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-pets"></i>pets allowed</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-playplace"></i>play place</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-breakfast"></i>complimentary breakfast</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-parking"></i>Free parking</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-conference"></i>conference room</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fireplace"></i>fire place</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-handicapaccessiable"></i>Handicap Accessible</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-doorman"></i>Doorman</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-tub"></i>Hot Tub</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-elevator"></i>Elevator in Building</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-star"></i>Suitable for Events</div>
                                        </li>
                                    </ul>
                                    
                                    
                                    <h2>Amenities Style 02</h2>
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <ul class="amenities clearfix style2">
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-wifi circle"></i>WI_FI</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-swimming circle"></i>swimming pool</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-television circle"></i>television</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-coffee circle"></i>coffee</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-aircon circle"></i>air conditioning</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-fitnessfacility circle"></i>fitness facility</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-fridge circle"></i>fridge</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-winebar circle"></i>wine bar</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-smoking circle"></i>smoking allowed</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-entertainment circle"></i>entertainment</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-securevault circle"></i>secure vault</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-pickanddrop circle"></i>pick and drop</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-phone circle"></i>room service</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-pets circle"></i>pets allowed</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-playplace circle"></i>play place</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-breakfast circle"></i>complimentary breakfast</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-parking circle"></i>Free parking</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-conference circle"></i>conference room</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-fireplace circle"></i>fire place</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-handicapaccessiable circle"></i>Handicap Accessible</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-doorman circle"></i>Doorman</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-tub circle"></i>Hot Tub</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-elevator circle"></i>Elevator in Building</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-star circle"></i>Suitable for Events</div>
                                        </li>
                                    </ul>
                                    
                                </div>
                                <div class="tab-pane fade" id="hotel-reviews">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="rating table-cell col-sm-4">
                                            <span class="score">3.9/5.0</span>
                                            <div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div>
                                            <a href="#" class="goto-writereview-pane button green btn-small full-width">WRITE A REVIEW</a>
                                        </div>
                                        <div class="table-cell col-sm-8">
                                            <div class="detailed-rating">
                                                <ul class="clearfix">
                                                    <li class="col-md-6"><div class="each-rating"><label>service</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Value</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Sleep Quality</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Cleanliness</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>location</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>rooms</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>swimming pool</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>fitness facility</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guest-reviews">
                                        <h2>Guest Reviews</h2>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"></img></a>
                                                <p class="name">Jessica Brown</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">We had great experience while our stay and Hilton Hotels!</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 80%;"></div></div>
                                                        <span class="score">4.0/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"></img></a>
                                                <p class="name">David Jhon</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">I love the speediness of their services.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 64%;"></div></div>
                                                        <span class="score">3.2/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"></img></a>
                                                <p class="name">Kyle Martin</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">When you look outside from the windows its breath taking.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 76%;"></div></div>
                                                        <span class="score">3.8/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="button full-width btn-large">LOAD MORE REVIEWS</a>
                                </div>
                                
                                <div class="tab-pane fade" id="hotel-things-todo">
                                    <h2>Things to Do</h2>
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <div class="activities image-box style2 innerstyle">
                                        <article class="box">
                                            <figure>
                                                <a title="" href="#"><img width="250" height="161" alt="" src="http://placehold.it/250x160"></img></a>
                                            </figure>
                                            <div class="details">
                                                <div class="details-header">
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                                        <span class="reviews">25 reviews</span>
                                                    </div>
                                                    <h4 class="box-title">Central Park Walking Tour</h4>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                                                <a class="button" title="" href="#">MORE</a>
                                            </div>
                                        </article>
                                        <article class="box">
                                            <figure>
                                                <a title="" href="#"><img width="250" height="161" alt="" src="http://placehold.it/250x160"></img></a>
                                            </figure>
                                            <div class="details">
                                                <div class="details-header">
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                                        <span class="reviews">25 reviews</span>
                                                    </div>
                                                    <h4 class="box-title">Museum of Modern Art</h4>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                                                <a class="button" title="" href="#">MORE</a>
                                            </div>
                                        </article>
                                        <article class="box">
                                            <figure>
                                                <a title="" href="#"><img width="250" height="161" alt="" src="http://placehold.it/250x160"></img></a>
                                            </figure>
                                            <div class="details">
                                                <div class="details-header">
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                                        <span class="reviews">25 reviews</span>
                                                    </div>
                                                    <h4 class="box-title">Crazy Horse Cabaret Show</h4>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                                                <a class="button" title="" href="#">MORE</a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="hotel-write-review">
                                    
                                    <form class="review-form">
                                        <div class="form-group col-md-5 no-float no-padding">
                                            <h4 class="title">Title of your review</h4>
                                            <input type="text" name="review-title" class="input-text full-width" value="" placeholder="enter a review title"></input>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="title">Your review</h4>
                                            <textarea class="input-text full-width" placeholder="enter your review (minimum 200 characters)" rows="5"></textarea>
                                        </div>
                                       
                                        <div class="form-group col-md-5 no-float no-padding no-margin">
                                            <button type="submit" class="btn-large full-width">SUBMIT REVIEW</button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                        <article class="detailed-logo">
                            <figure>
                                <img width="114" height="85" src="http://placehold.it/114x85" alt=""></img>
                            </figure>
                            <div class="details">
                                <h2 class="box-title">Hilton Hotel and Resorts<small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">Bastille, Paris france</span></small></h2>
                                <span class="price clearfix">
                                    <small class="pull-left">avg/night</small>
                                    <span class="pull-right">$620</span>
                                </span>
                                <div class="feedback clearfix">
                                    <div title="" class="five-stars-container" data-toggle="tooltip" data-placement="bottom" data-original-title="4 stars"><span class="five-stars" style="width: 80%;"></span></div>
                                    <span class="review pull-right">270 reviews</span>
                                </div>
                                <p class="description">Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                <a class="button yellow full-width uppercase btn-small">add to wishlist</a>
                            </div>
                        </article>
                        <div class="travelo-box contact-box">
                            <h4>Need Travelo Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                
                                <a class="contact-email" href="#">help@travelo.com</a>
                            </address>
                        </div>
                        <div class="travelo-box">
                            <h4>Similar Listings</h4>
                            <div class="image-box style14">
                                <article class="box">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/63x59" alt=""></img></a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Plaza Tour Eiffel</a></h5>
                                        <label class="price-wrapper">
                                            <span class="price-per-unit">$170</span>avg/night
                                        </label>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/63x59" alt=""></img></a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Sultan Gardens</a></h5>
                                        <label class="price-wrapper">
                                            <span class="price-per-unit">$620</span>avg/night
                                        </label>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/63x59" alt=""></img></a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Park Central</a></h5>
                                        <label class="price-wrapper">
                                            <span class="price-per-unit">$322</span>avg/night
                                        </label>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="travelo-box book-with-us-box">
                            <h4>Why Book with us?</h4>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="#">Excellent Support</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    
    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="components/jquery.bxslider/jquery.bxslider.min.js"></script>
    
    <!-- load FlexSlider scripts -->
    <script type="text/javascript" src="components/flexslider/jquery.flexslider-min.js"></script>
    
    <!-- Google Map Api -->
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    
    <script type="text/javascript" src="js/calendar.js"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="js/theme-scripts.js"></script>
    
    <script type="text/javascript">
        tjq(document).ready(function() {
            // calendar panel
            var cal = new Calendar();
            var unavailable_days = [17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
            var price_arr = {3: '$170', 4: '$170', 5: '$170', 6: '$170', 7: '$170', 8: '$170', 9: '$170', 10: '$170', 11: '$170', 12: '$170', 13: '$170', 14: '$170', 15: '$170', 16: '$170', 17: '$170'};

            var current_date = new Date();
            var current_year_month = (1900 + current_date.getYear()) + "-" + (current_date.getMonth() + 1);
            tjq("#select-month").find("[value='" + current_year_month + "']").prop("selected", "selected");
            cal.generateHTML(current_date.getMonth(), (1900 + current_date.getYear()), unavailable_days, price_arr);
            tjq(".calendar").html(cal.getHTML());
            
            tjq("#select-month").change(function() {
                var selected_year_month = tjq("#select-month option:selected").val();
                var year = parseInt(selected_year_month.split("-")[0], 10);
                var month = parseInt(selected_year_month.split("-")[1], 10);
                cal.generateHTML(month - 1, year, unavailable_days, price_arr);
                tjq(".calendar").html(cal.getHTML());
            });
            
            
            tjq(".goto-writereview-pane").click(function(e) {
                e.preventDefault();
                tjq('#hotel-features .tabs a[href="#hotel-write-review"]').tab('show')
            });
            
            // editable rating
            tjq(".editable-rating.five-stars-container").each(function() {
                var oringnal_value = tjq(this).data("original-stars");
                if (typeof oringnal_value == "undefined") {
                    oringnal_value = 0;
                } else {
                    //oringnal_value = 10 * parseInt(oringnal_value);
                }
                tjq(this).slider({
                    range: "min",
                    value: oringnal_value,
                    min: 0,
                    max: 5,
                    slide: function( event, ui ) {
                        
                    }
                });
            });
        });
        
        tjq('a[href="#map-tab"]').on('shown.bs.tab', function (e) {
            var center = panorama.getPosition();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
        });
        tjq('a[href="#steet-view-tab"]').on('shown.bs.tab', function (e) {
            fenway = panorama.getPosition();
            panoramaOptions.position = fenway;
            panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
            map.setStreetView(panorama);
        });
        var map = null;
        var panorama = null;
        var fenway = new google.maps.LatLng(48.855702, 2.292577);
        var mapOptions = {
            center: fenway,
            zoom: 12
        };
        var panoramaOptions = {
            position: fenway,
            pov: {
                heading: 34,
                pitch: 10
            }
        };
        function initialize() {
            tjq("#map-tab").height(tjq("#hotel-main-content").width() * 0.6);
            map = new google.maps.Map(document.getElementById('map-tab'), mapOptions);
            panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
            map.setStreetView(panorama);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>



<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div><div class="chaser hidden-mobile" style="visibility: visible; display: block;"><div class="container"><h1 class="logo navbar-brand"><a title="Travelo - home" href="index.html"><img alt="" src="images/logo.png"></img></a></h1><ul class="menu" style="">
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Layout 1</a></li>
                                    <li><a href="homepage2.html">Home Layout 2</a></li>
                                    <li><a href="homepage3.html">Home Layout 3</a></li>
                                    <li><a href="homepage4.html">Home Layout 4</a></li>
                                    <li><a href="homepage5.html">Home Layout 5</a></li>
                                    <li><a href="homepage6.html">Home Layout 6</a></li>
                                    <li><a href="homepage7.html">Home Layout 7</a></li>
                                    <li><a href="homepage8.html">Home Layout 8</a></li>
                                    <li><a href="homepage9.html">Home Layout 9</a></li>
                                    <li><a href="homepage10.html">Home Layout 10</a></li>
                                    <li><a href="homepage11.html">Home Layout 11</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children active">
                                <a href="hotel-index.html">Hotels</a>
                                <ul>
                                    <li><a href="hotel-index.html">Home Hotels</a></li>
                                    <li><a href="hotel-list-view.html">List View</a></li>
                                    <li><a href="hotel-grid-view.html">Grid View</a></li>
                                    <li><a href="hotel-block-view.html">Block View</a></li>
                                    <li class="active"><a href="hotel-detailed.html">Detailed</a></li>
                                    <li><a href="hotel-booking.html">Booking</a></li>
                                    <li><a href="hotel-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="flight-index.html">Flights</a>
                                <ul>
                                    <li><a href="flight-index.html">Home Flights</a></li>
                                    <li><a href="flight-list-view.html">List View</a></li>
                                    <li><a href="flight-grid-view.html">Grid View</a></li>
                                    <li><a href="flight-block-view.html">Block View</a></li>
                                    <li><a href="flight-detailed.html">Detailed</a></li>
                                    <li><a href="flight-booking.html">Booking</a></li>
                                    <li><a href="flight-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="car-index.html">Cars</a>
                                <ul>
                                    <li><a href="car-index.html">Home Cars</a></li>
                                    <li><a href="car-list-view.html">List View</a></li>
                                    <li><a href="car-grid-view.html">Grid View</a></li>
                                    <li><a href="car-block-view.html">Block View</a></li>
                                    <li><a href="car-detailed.html">Detailed</a></li>
                                    <li><a href="car-booking.html">Booking</a></li>
                                    <li><a href="car-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="cruise-index.html">Cruises</a>
                                <ul>
                                    <li><a href="cruise-index.html">Home Cruises</a></li>
                                    <li><a href="cruise-list-view.html">List View</a></li>
                                    <li><a href="cruise-grid-view.html">Grid View</a></li>
                                    <li><a href="cruise-block-view.html">Block View</a></li>
                                    <li><a href="cruise-detailed.html">Detailed</a></li>
                                    <li><a href="cruise-booking.html">Booking</a></li>
                                    <li><a href="cruise-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children megamenu-menu">
                                <a href="#">Pages</a>
                                <div class="megamenu-wrapper container" data-items-per-column="8" style="left: -703.203px; width: 0px; display: block;">
                                    <div class="megamenu-holder">
                                        <ul class="megamenu">
                                            <li class="menu-item-has-children megamenu-columns-3" style="width: 42.8571%;">
                                                <a href="#">Standard Pages</a>
                                                
                                            <ul class="sub-menu"><li><ul><li><a href="pages-aboutus1.html">About Us 1</a></li><li><a href="pages-aboutus2.html">About Us 2</a></li><li><a href="pages-services1.html">Services 1</a></li><li><a href="pages-services2.html">Services 2</a></li><li><a href="pages-photogallery-4column.html">Gallery 4 Column</a></li><li><a href="pages-photogallery-3column.html">Gallery 3 Column</a></li><li><a href="pages-photogallery-2column.html">Gallery 2 Column</a></li><li><a href="pages-photogallery-fullview.html">Gallery Read</a></li></ul></li><li><ul><li><a href="pages-blog-rightsidebar.html">Blog Right Sidebar</a></li><li><a href="pages-blog-leftsidebar.html">Blog Left Sidebar</a></li><li><a href="pages-blog-fullwidth.html">Blog Full Width</a></li><li><a href="pages-blog-read.html">Blog Read</a></li><li><a href="pages-faq1.html">Faq 1</a></li><li><a href="pages-faq2.html">Faq 2</a></li><li><a href="pages-layouts-leftsidebar.html">Layouts Left Sidebar</a></li><li><a href="pages-layouts-rightsidebar.html">Layouts Right Sidebar</a></li></ul></li><li><ul><li><a href="pages-layouts-twosidebar.html">Layouts Two Sidebar</a></li><li><a href="pages-layouts-fullwidth.html">Layouts Full Width</a></li><li><a href="pages-contactus1.html">Contact Us 1</a></li><li><a href="pages-contactus2.html">Contact Us 2</a></li><li><a href="pages-contactus3.html">Contact Us 3</a></li><li><a href="pages-travelo-policies.html">Travelo Policies</a></li><li><a href="pages-sitemap.html">Site Map</a></li></ul></li></ul></li>
                                            <li class="menu-item-has-children megamenu-columns-2" style="width: 28.5714%;">
                                                <a href="#">Extra Pages</a>
                                                
                                            <ul class="sub-menu"><li><ul><li><a href="extra-pages-holidays.html">Holidays</a></li><li><a href="extra-pages-hotdeals.html">Hot Deals</a></li><li><a href="extra-pages-before-you-fly.html">Before You Fly</a></li><li><a href="extra-pages-inflight-experience.html">Inflight Experience</a></li><li><a href="extra-pages-things-todo1.html">Things To Do 1</a></li><li><a href="extra-pages-things-todo2.html">Things To Do 2</a></li><li><a href="extra-pages-travel-essentials.html">Travel Essentials</a></li><li><a href="extra-pages-travel-stories.html">Travel Stories</a></li></ul></li><li><ul><li><a href="extra-pages-travel-guide.html">Travel Guide</a></li><li><a href="extra-pages-travel-ideas.html">Travel Ideas</a></li><li><a href="extra-pages-travel-insurance.html">Travel Insurance</a></li><li><a href="extra-pages-group-booking.html">Group Bookings</a></li></ul></li></ul></li>
                                            <li class="menu-item-has-children megamenu-columns-2" style="width: 28.5714%;">
                                                <a href="#">Special Pages</a>
                                                
                                            <ul class="sub-menu"><li><ul><li><a href="pages-404-1.html">404 Page 1</a></li><li><a href="pages-404-2.html">404 Page 2</a></li><li><a href="pages-404-3.html">404 Page 3</a></li><li><a href="pages-coming-soon1.html">Coming Soon 1</a></li><li><a href="pages-coming-soon2.html">Coming Soon 2</a></li><li><a href="pages-coming-soon3.html">Coming Soon 3</a></li><li><a href="pages-loading1.html">Loading Page 1</a></li><li><a href="pages-loading2.html">Loading Page 2</a></li></ul></li><li><ul><li><a href="pages-loading3.html">Loading Page 3</a></li><li><a href="pages-login1.html">Login Page 1</a></li><li><a href="pages-login2.html">Login Page 2</a></li><li><a href="pages-login3.html">Login Page 3</a></li></ul></li></ul></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shortcodes</a>
                                <ul>
                                    <li><a href="shortcode-accordions-toggles.html">Accordions &amp; Toggles</a></li>
                                    <li><a href="shortcode-tabs.html">Tabs</a></li>
                                    <li><a href="shortcode-buttons.html">Buttons</a></li>
                                    <li><a href="shortcode-icon-boxes.html">Icon Boxes</a></li>
                                    <li><a href="shortcode-gallery-styles.html">Image &amp; Gallery Styles</a></li>
                                    <li><a href="shortcode-image-box-styles.html">Image Box Styles</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Listing Styles</a>
                                        <ul class="left">
                                            <li><a href="shortcode-listing-style1.html">Listing Style 01</a></li>
                                            <li><a href="shortcode-listing-style2.html">Listing Style 02</a></li>
                                            <li><a href="shortcode-listing-style3.html">Listing Style 03</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shortcode-dropdowns.html">Dropdowns</a></li>
                                    <li><a href="shortcode-pricing-tables.html">Pricing Tables</a></li>
                                    <li><a href="shortcode-testimonials.html">Testimonials</a></li>
                                    <li><a href="shortcode-our-team.html">Our Team</a></li>
                                    <li><a href="shortcode-gallery-popup.html">Gallery Popup</a></li>
                                    <li><a href="shortcode-map-popup.html">Map Popup</a></li>
                                    <li><a href="shortcode-style-changer.html">Style Changer</a></li>
                                    <li><a href="shortcode-typography.html">Typography</a></li>
                                    <li><a href="shortcode-animations.html">Animations</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Bonus</a>
                                <ul class="left">
                                    <li><a href="dashboard1.html">Dashboard 1</a></li>
                                    <li><a href="dashboard2.html">Dashboard 2</a></li>
                                    <li><a href="dashboard3.html">Dashboard 3</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">7 Footer Styles</a>
                                        <ul class="left">
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="footer-style1.html">Footer Style 1</a></li>
                                            <li><a href="footer-style2.html">Footer Style 2</a></li>
                                            <li><a href="footer-style3.html">Footer Style 3</a></li>
                                            <li><a href="footer-style4.html">Footer Style 4</a></li>
                                            <li><a href="footer-style5.html">Footer Style 5</a></li>
                                            <li><a href="footer-style6.html">Footer Style 6</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">8 Header Styles</a>
                                        <ul class="left">
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="header-style1.html">Header Style 1</a></li>
                                            <li><a href="header-style2.html">Header Style 2</a></li>
                                            <li><a href="header-style3.html">Header Style 3</a></li>
                                            <li><a href="header-style4.html">Header Style 4</a></li>
                                            <li><a href="header-style5.html">Header Style 5</a></li>
                                            <li><a href="header-style6.html">Header Style 6</a></li>
                                            <li><a href="header-style7.html">Header Style 7</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">7 Inner Start Styles</a>
                                        <ul class="left">
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="inner-starts-style1.html">Inner Start Style 1</a></li>
                                            <li><a href="inner-starts-style2.html">Inner Start Style 2</a></li>
                                            <li><a href="inner-starts-style3.html">Inner Start Style 3</a></li>
                                            <li><a href="inner-starts-style4.html">Inner Start Style 4</a></li>
                                            <li><a href="inner-starts-style5.html">Inner Start Style 5</a></li>
                                            <li><a href="inner-starts-style6.html">Inner Start Style 6</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">3 Search Styles</a>
                                        <ul class="left">
                                            <li><a href="search-style1.html">Search Style 1</a></li>
                                            <li><a href="search-style2.html">Search Style 2</a></li>
                                            <li><a href="search-style3.html">Search Style 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul></div></div>




	</h:form>
	
	</div>
	                  
        </section>
	
	
	
	</ui:define>
	<hr/>
	<ui:define name="footerContent"></ui:define>
</ui:composition>