<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">List Document</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">List Documents</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Document Details</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
				<h:outputText value="#{documentBean.docDetails.name}" />
				
				<div class="block">
                    <h1>
                     <h:outputText value="#{documentBean.docDetails.name}" /> 
                    
                    </h1>
                    <div class="flexslider photo-gallery style2 block" data-fix-control-nav-pos="1">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides image-box style9" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-2298px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 766px; float: left; display: block;">
                                <article class="box">
                                    <figure><img src="http://placehold.it/1170x560" alt="" draggable="false"> </img></figure>
                                    <div class="details">
                                        <h2 class="box-title"><span class="no-letter-spacing"> Search Date : <h:outputText value="#{documentBean.docDetails.searchDate}" /> </span><small class="skin-color">island, Beach</small></h2>
                                        <p class="description">
                                           <h:outputText value="#{documentBean.docDetails.description}" />
                                        
                                        </p>
                                        
                                        
                                    </div>
                                    <hr/>
                                    <center>
                                     <h:form>
                                        
                                        <h:commandLink action="#{documentBean.doDelete(documentBean.docDetails.id)}" value="Delete" class="button btn-small dark-orange" /> ||
                                        <h:commandLink action="#{documentBean.edit(documentBean.docDetails)}" value="Update" class="button btn-small green" />
                                    </h:form>
                                    </center>
                                   
                                </article>
                            </li>
                           
                          
                            
                      </ul>
                      <hr/>
                     
                      
                  </div>
                  </div>
  </div>
				
				  
				
				
				
					
			</div>
			
			</div>

		</section>


	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>