<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/index.xhtml">

	<ui:define name="title">My Profile</ui:define>

	<ui:define name="MainContent">

	
		<div class="edit-profile">
			<h:form class="edit-profile-form">
				<h2>Personal Details</h2>
				
				<div class="col-sm-9 no-padding no-float">
				<div class="row form-group">
						<div class="col-sms-6 col-sm-6">
							
							<h:inputHidden type="text" class="input-text full-width"
								value="#{profBean.thisUser.id}"/> 
						</div>

					</div>
					<div class="row form-group">
						<div class="col-sms-6 col-sm-6">
							<label>First Name</label>
							<h:inputText type="text" class="input-text full-width"
								value="#{profBean.user.firstName}"></h:inputText>
						</div>
						<div class="col-sms-6 col-sm-6">
							<label>Last Name</label>
							<h:inputText type="text" class="input-text full-width"
								value="#{profBean.user.lastName}"></h:inputText>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sms-6 col-sm-6">
							<label>Email Address</label>
							<h:inputText type="text" class="input-text full-width"
								value="#{profBean.user.email}"></h:inputText>
						</div>

					</div>
					<div class="row form-group">
						<div class="col-sms-6 col-sm-6">
							<label>Login</label>
							<h:inputText type="text" class="input-text full-width"
								value="#{profBean.user.login}"></h:inputText>
						</div>

					</div>
					<div class="row form-group">
						<div class="col-sms-6 col-sm-6">
							<label>Password</label>
							<h:inputText type="text" class="input-text full-width"
								value="#{profBean.user.password}"></h:inputText>
						</div>

					</div>
					<div class="row form-group">

						<div class="col-sms-6 col-sm-6">
							<label>Phone Number</label>
							<h:inputText type="text" class="input-text full-width"
								value="#{profBean.user.phoneNumber}"></h:inputText>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-xs-12">Date of Birth</label>
						<div class="datepicker-wrap">
							<h:inputText value="#{profBean.user.birthDate}" type="text"
								class="input-text full-width">
								<f:convertDateTime pattern="MM/dd/yyyy" />
							</h:inputText>
						</div>
					</div>
					<hr />
					<h2>Contact Details</h2>
					<div class="row form-group">

						<div class="col-sms-6 col-sm-6">
							<label>Address</label>
							<h:inputText type="text" class="input-text full-width"
								value="#{profBean.user.address}"></h:inputText>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sms-6 col-sm-6">
							<label>City</label>
							<div class="selector">
								<select class="full-width">
									<option value="#{profBean.user.city}">La Manouba</option>
									<option value="#{profBean.user.city}">Ariana</option>
									<option value="#{profBean.user.city}">Tunis</option>
									<option value="#{profBean.user.city}">Beja</option>
								</select>
							</div>
						</div>
						<div class="col-sms-6 col-sm-6">
							<label>Country</label>
							<div class="selector">
								<select class="full-width">
									<option value="#{profBean.user.country}">Albania</option>
									<option value="#{profBean.user.country}">Allemagne</option>
									<option value="#{profBean.user.country}">Chili</option>
									<option value="#{profBean.user.country}">France</option>
									<option value="#{profBean.user.country}">Tunisia</option>
								</select>
							</div>
						</div>
					</div>

					<hr />
					<h2>Upload Profile Photo</h2>
					<div class="row form-group">
						<div class="col-sms-12 col-sm-6 no-float">
							<div class="fileinput full-width">

								<h:inputText value="#{profBean.user.photo}" type="text"
									class="input-text"></h:inputText>
							</div>
						</div>
					</div>
					<hr />

					<div class="from-group">
						<h:commandButton action="#{profBean.DoEdit()}"
							value="Update Profile Settings"
							class="btn-medium col-sms-6 col-sm-4" />
					</div>
				</div>
			</h:form>
		</div>

	</ui:define>

</ui:composition>
