<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">Ajouter Un Evenement</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Ajouter Un Evenement</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Ajouter Un Evenement</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
					<div id="main" class="col-sms-6 col-sm-8 col-md-9">
						<div class="booking-section travelo-box">

							
				</div>

			</div>
			</div>
			<div class="sidebar col-sms-6 col-sm-4 col-md-3">
				<div class="booking-details travelo-box">


					<div class="travelo-box contact-box">
						<h4>Need Travelo Help?</h4>
						<p>We would be more than happy to help you. Our team advisor
							are 24/7 at your service to help you.</p>
						<address class="contact-details">
							<span class="contact-phone"><i class="soap-icon-phone"></i>
								1-800-123-HELLO</span> <BR /> <a class="contact-email" href="#">help@travelo.com</a>
						</address>
					</div>
				</div>
			</div>
			</div>

		</section>


	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>