<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des Evenements</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des Evenements</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Liste des Evenements</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">
				<h:form>
					<h:dataTable value="#{evenementBean.events}" var="e"
						rendered="#{not evenementBean.showDetails}">
						<div class="col-sm-8 col-md-9">
							<h:column>
								<div class="cruise-list listing-style3 cruise">
									<article class="box">
										<figure class="col-sm-4">
											<a title="" href="ajax/cruise-slideshow-popup.html"
												class="hover-effect popup-gallery"><img width="270"
												height="160" alt="" src="http://placehold.it/270x160" /></a>
										</figure>
										<div class="details col-sm-8">
											<div class="clearfix">
												<h4 class="box-title pull-left">Nom:
													<h:outputText value="#{e.nom}" />
													
												</h4>
												<span class="price pull-right"><small>Tel
												</small> <h:outputText value="#{e.tel}" /> </span>
											</div>
											<div class="character clearfix">
												<div class="col-xs-4 date">
													<i class="soap-icon-clock yellow-color"></i>
													<div>
														<span class="skin-color">Date de Debut:</span>														
														<h:outputText value="#{e.dateDebut}" /> 
														
													</div>
													<div>
													<span class="skin-color">Date de Fin:</span>
														<h:outputText value="#{e.dateFin} " /> 
													</div>
													
												</div>
												<div class="col-xs-5 departure">
													<i class="soap-icon-departure yellow-color"></i>
													<div>
														<span class="skin-color">Lieu:</span><BR />
														<h:outputText value="#{e.lieux}" />
													</div>
												</div>
											</div>
											<div class="clearfix">
												<h3
												 class="box-title pull-left"> Description:
													<h:outputText value="#{e.description}" />
												</h3>
											</div>
											<div class="clearfix">
												<h:commandLink class="button btn-small pull-right"
													action="#{evenementBean.doSelect()}" value="select">
													<f:setPropertyActionListener value="#{e}"
														target="#{evenementBean.e}"></f:setPropertyActionListener>
												</h:commandLink>
												
											</div>
										</div>
									</article>
								</div>
							</h:column>
						</div>
					</h:dataTable>
					<h:panelGroup rendered="#{evenementBean.showDetails}" var="e">

						<section id="content" class="gray-area">
							<div class="container">
								<div id="main">
									<div
										class="tab-container full-width-style arrow-left dashboard">
										<ul class="tabs">
											<li class=""><a data-toggle="tab" href="#profile"><i
													class="soap-icon-user circle"></i>Profile</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade in active">
												<div class="view-profile">
													<figure
														class="image-box style2 box innerstyle personal-details">
														<a title="" href="#"><img width="270" height="263"
															alt="" src="http://placehold.it/270x263" /></a>
													</figure>

													<div class="details">
														
														<h1 class="box-title fullname">Nom:
														
															<h:outputText value="#{evenementBean.e.nom}" />
														</h1>
														<BR />
														<dl class="term-description">
															<dt>Tel:</dt>
															<dd>
																<h:outputText value="#{evenementBean.e.tel}" />
															</dd>
															<dt>Date de début:</dt>
															<dd>
															<h:outputText value="#{evenementBean.e.dateDebut}" />
															</dd>
															<dt>Date de Fin:</dt>
															<dd>
															<h:outputText value="#{evenementBean.e.dateFin}" />
															</dd>
													

														</dl>
													</div>
													<HR />
													<h2>Map</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{evenementBean.e.map}" />
														</p>
													</div>
													<hr />
													<h2>Description de l'Evenement</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{evenementBean.e.description}" />
														</p>
													</div>
													<hr />
													
													
													<hr />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</h:panelGroup>
				</h:form>
			</div>
		</section>

	</ui:define>
</ui:composition>