<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">Ajouter Un Evenement</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
	
	
	
	
	
	
	
	
	
	<section id="content">
            <div class="container">
            
	<h:form>
	<h:dataTable value="#{cdBean.all}" var="cd">
	<h:column>
					<div class="hotel-list listing-style3 hotel">
	   							<article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></img></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
 										<div>		
                                        <div>
                                                <h4 class="box-title"><h:outputText value="#{cd.cen_nom}" /><i class="soap-icon-departure yellow-color"></i><small><h:outputText value="#{cd.localisation.cen_pays}" /> </small></h4>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-fitnessfacility circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-television circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="five-stars-container">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                                <span class="review">170 reviews</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                            <div>
                                                <span class="price"><small>AVG/NIGHT</small>$120</span>
                                                
                                                <h:commandButton class="button btn-small full-width text-center" value="Confirm" id="form_submit"
														action="#{cdBean.confirmCenter(cd)}" />
														<h:commandButton class="button btn-small full-width text-center" value="show" 
														action="#{cdBean.recup(cd)}" />
														<h:commandButton class="button btn-small full-width text-center" value="show" 
														action="#{cdBean.declineCenter(cd.cen_id)}" />
                                            </div>
                                        </div>
                                        </div>
     							 </article>
                                    
                
	  
                        </div>
	</h:column>
	</h:dataTable>
	</h:form>
	
	
	
	
	</div>
	                  
        </section>
	
	
	
	
	
	
	
	 
	</ui:define>
	<hr/>
	<ui:define name="footerContent"></ui:define>
</ui:composition>