<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des bourses</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
	   <h:head>
        <title>Mail Sender</title>
    </h:head>
    <h:body>
        <h1> Contact Us</h1>
        <h:form>
           <h:commandButton value="Send" action="#{mailBean.send()}"/>
        </h:form>
    </h:body>
</ui:define>

</ui:composition>
