<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/template/index.xhtml">

	<ui:define name="title">My Profile</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<h:form>
			<section id="content" class="">
				<div class="container">
					<div class="tab-container full-width-style arrow-left dashboard">
						<div class="tab-content">
							<div id="profile">
								<h:form>
									<h:dataTable rendered="#{profBean.thisUser != null}"
										value="#{profBean.thisUser}" var="user">
										<h:column>

											<div class="view-profile">
												<article
													class="image-box style2 box innerstyle personal-details">
													<figure>
														<a title="" href="#"><img width="270" height="263"
															alt=""
															src="#{request.contextPath}/ressources/images/photo1.jpg" /></a>
													</figure>
													<div class="details">
														<a href="EditProfile.jsf"
															class="button btn-mini pull-right edit-profile-btn">Edit Profile</a>

														<h2 class="box-title fullname">
															<h:outputText value="#{user.firstName}" />
															<h:outputText value="#{user.lastName}" />
														</h2>
														<dl class="term-description">
															<dt>user name:</dt>
															<dd>
																<h:outputText value="#{user.login}" />
															</dd>
															<dt>Password:</dt>
															<dd>
																<h:outputText value="#{user.password}" />
															</dd>
															<dt>first name:</dt>
															<dd>
																<h:outputText value="#{user.firstName}" />
															</dd>
															<dt>last name:</dt>
															<dd>
																<h:outputText value="#{user.lastName}" />
															</dd>
															<dt>phone number:</dt>
															<dd>
																<h:outputText value="#{user.phoneNumber}" />
															</dd>
															<dt>Date of birth:</dt>
															<dd>
																<h:outputText value="#{user.birthDate}" />
															</dd>
															<dt>Street Address and number:</dt>
															<dd>
																<h:outputText value="#{user.address}" />
															</dd>
															<dt>Town / City:</dt>
															<dd>
																<h:outputText value="#{user.city}" />
															</dd>
															<dt>Country:</dt>
															<dd>
																<h:outputText value="#{user.country}" />
															</dd>
														</dl>
													</div>
												</article>
												<hr />
												<h2>About You</h2>
												<div class="intro">
													<p>You're now a Member</p>
												</div>
												<hr />
												<h2>Today’s Suggestions</h2>
												<div class="suggestions image-carousel style2"
													data-animation="slide" data-item-width="170"
													data-item-margin="22">
													<ul class="slides">
														<li><a href="#" class="hover-effect"> <img
																src="http://placehold.it/170x170" alt="" />
														</a>
															<h5 class="caption">Adventure</h5></li>
														<li><a href="#" class="hover-effect"> <img
																src="http://placehold.it/170x170" alt="" />
														</a>
															<h5 class="caption">Beaches &amp; Sun</h5></li>
														<li><a href="#" class="hover-effect"> <img
																src="http://placehold.it/170x170" alt="" />
														</a>
															<h5 class="caption">Casinos</h5></li>
														<li><a href="#" class="hover-effect"> <img
																src="http://placehold.it/170x170" alt="" />
														</a>
															<h5 class="caption">Family Fun</h5></li>
														<li><a href="#" class="hover-effect"> <img
																src="http://placehold.it/170x170" alt="" />
														</a>
															<h5 class="caption">History</h5></li>
														<li><a href="#" class="hover-effect"> <img
																src="http://placehold.it/170x170" alt="" />
														</a>
															<h5 class="caption">Adventure</h5></li>
													</ul>
												</div>
												<hr />

											</div>
										</h:column>
									</h:dataTable>
								</h:form>
								<div class="edit-profile">
									<ui:include src="/pages/User/EditProfile.xhtml" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</h:form>
	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>
