<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- Page Title -->
	<title><ui:insert name="title"></ui:insert>Home</title>
	<!-- Meta Tags -->
	<meta charset="utf-8" />
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description"
		content="Travelo | Responsive HTML5 Travel Template" />
	<meta name="author" content="SoapTheme" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/font-awesome.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700'
		rel='stylesheet' type='text/css' />
	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/animate.min.css" />

	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/ressources/components/revolution_slider/css/settings.css"
		media="screen" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/ressources/components/revolution_slider/css/style.css"
		media="screen" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/ressources/components/jquery.bxslider/jquery.bxslider.css"
		media="screen" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/ressources/components/flexslider/flexslider.css"
		media="screen" />

	<!-- Main Style -->
	<link id="main-style" rel="stylesheet"
		href="#{request.contextPath}/ressources/css/style.css" />

	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/custom.css" />

	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/updates.css" />

	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/responsive.css" />

</h:head>
<h:body>
	<div id="page-wrapper">
		<header id="header" class="navbar-static-top">
			<ui:insert name="headerContent"></ui:insert>
			<div class="topnav hidden-xs">
				<div class="container">
					<ul class="quick-menu pull-left">
						<li><a href="#">MY ACCOUNT</a></li>
					</ul>
					<ul class="quick-menu pull-right">
						<li><a href="#{request.contextPath}/pages/User/Profile.jsf">Logged in as #{authBean.user.login}</a></li>
						<li><a href="#{request.contextPath}/pages/User/login.jsf">LogOut</a></li>
					</ul>
				</div>
			</div>

			<div class="main-header">

				<a href="#mobile-menu-01" data-toggle="collapse"
					class="mobile-menu-toggle"> Mobile Menu Toggle </a>

				<div class="container">
					<h1 class="logo navbar-brand">
						<a href="#" title="Travelo - home"> 
						</a>
					</h1>

					<nav id="main-menu" role="navigation">
						<ul class="menu">
					
							<li class="menu-item-has-children"><a href="#">Offres</a>
								<ul>
									<li><a href="#">Ajouter un Offre</a></li>
									<li><a href="#">Modifier un Offre</a></li>
									<li><a href="#">Supprimer un Offre</a></li>
									<li><a href="#">Afficher les offres</a></li>

								</ul></li>
							<li class="menu-item-has-children"><a href="#">Evenements</a>
								<ul>
									<li><a href="/pidev-web/pages/User/ajoutEvenement.jsf">Ajouter un Evenement</a></li>
									<li><a href="#">Modifier un Evenement</a></li>
										<li><a href="#">Supprimer un Evenement</a></li>
									<li><a href="#">Afficher les Evenements</a></li>

								</ul></li>
							<li class="menu-item-has-children"><a href="#">Documents</a>
								<ul>
									<li><a href="#">Ajouter un Document</a></li>
									<li><a href="#">Modifier un Document</a></li>
									<li><a href="#">Supprimer un Document</a></li>
									<li><a href="#">Afficher un Document</a></li>

								</ul></li>
							<li class="menu-item-has-children"><a href="#">Libraries</a>
								<ul>
									<li><a href="#">Ajouter une librairie</a></li>
									<li><a href="#">Modifier une librairie</a></li>
										<li><a href="#">Supprimer une librairie</a></li>
									<li><a href="#">Afficher les librairies</a></li>
								</ul></li>
							<li class="menu-item-has-children megamenu-menu"><a href="#">About</a>
								<div class="megamenu-wrapper container"
									data-items-per-column="8">
									<div class="megamenu-holder">
										<ul class="megamenu">
											<li class="menu-item-has-children"><a href="#">Users
													</a>
												<ul class="clearfix">
													
													<li><a href="#">Liste des Utilisateurs</a></li>
												</ul></li>
											<li class="menu-item-has-children"><a href="#">Evenements
													</a>
												<ul class="clearfix">
													
													<li><a href="#">Liste des Evenements</a></li>
												</ul></li>
											<li class="menu-item-has-children"><a href="#">Offres</a>
												<ul class="clearfix">
													
													<li><a href="#">Liste des Offres</a></li>
												</ul></li>
												<li class="menu-item-has-children"><a href="#">Documents</a>
												<ul class="clearfix">
													
													<li><a href="#">Liste des Documents</a></li>
												</ul></li>
												<li class="menu-item-has-children"><a href="#">Libraries</a>
												<ul class="clearfix">
													
													<li><a href="#">Liste des Libraries </a></li>
												</ul></li>
										</ul>
									</div>
								</div>
								</li>
						
						</ul>
					</nav>
				</div>
			</div>
			
			<div id="travelo-signup" class="travelo-signup-box travelo-box">
				<div class="login-social">
					<a href="#" class="button login-facebook"><i
						class="soap-icon-facebook"></i>Login with Facebook</a> 
						<a href="#" class="button login-googleplus"><i
						class="soap-icon-googleplus"></i>Login with Google+</a>
				</div>
				<div class="seperator">
					<label>OR</label>
				</div>
				<div class="simple-signup">
					<div class="text-center signup-email-section">
						<a href="#" class="signup-email"><i class="soap-icon-letter"></i>Sign
							up with Email</a>
					</div>
					<p class="description">By signing up, I agree to Travelo's
						Terms of Service, Privacy Policy, Guest Refund olicy, and Host
						Guarantee Terms.</p>
				</div>
				<div class="email-signup">
					<form>
						<div class="form-group">
							<input type="text" class="input-text full-width"
								placeholder="first name" />
						</div>
						<div class="form-group">
							<input type="text" class="input-text full-width"
								placeholder="last name" />
						</div>
						<div class="form-group">
							<input type="text" class="input-text full-width"
								placeholder="email address" />
						</div>
						<div class="form-group">
							<input type="password" class="input-text full-width"
								placeholder="password" />
						</div>
						<div class="form-group">
							<input type="password" class="input-text full-width"
								placeholder="confirm password" />
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label> <input type="checkbox" /> Tell me about Travelo
									news
								</label>
							</div>
						</div>
						<div class="form-group">
							<p class="description">By signing up, I agree to Travelo's
								Terms of Service, Privacy Policy, Guest Refund Policy, and Host
								Guarantee Terms.</p>
						</div>
						<button type="submit" class="full-width btn-medium">SIGNUP</button>
					</form>
				</div>
				<div class="seperator"></div>
				<p>
					Already a Travelo member? <a href="#travelo-login"
						class="goto-login soap-popupbox">Login</a>
				</p>
			</div>
			<div id="travelo-login" class="travelo-login-box travelo-box">
				<div class="login-social">
					<a href="#" class="button login-facebook"><i
						class="soap-icon-facebook"></i>Login with Facebook</a> <a href="#"
						class="button login-googleplus"><i
						class="soap-icon-googleplus"></i>Login with Google+</a>
				</div>
				<div class="seperator">
					<label>OR</label>
				</div>
				<form>
					<div class="form-group">
						<input type="text" class="input-text full-width"
							placeholder="email address" />
					</div>
					<div class="form-group">
						<input type="password" class="input-text full-width"
							placeholder="password" />
					</div>
					<div class="form-group">
						<a href="#" class="forgot-password pull-right">Forgot
							password?</a>
						<div class="checkbox checkbox-inline">
							<label> <input type="checkbox" /> Remember me
							</label>
						</div>
					</div>
				</form>
				<div class="seperator"></div>
				<p>
					Don't have an account? <a href="#travelo-signup"
						class="goto-signup soap-popupbox">Sign up</a>
				</p>
			</div>
		</header>



		<footer id="footer">
			<ui:insert name="footerContent"></ui:insert>
			<div class="footer-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<h2>Discover</h2>
							<ul class="discover triangle hover row">
								<li class="col-xs-6"><a href="#">Safety</a></li>
								<li class="col-xs-6"><a href="#">About</a></li>
								<li class="col-xs-6"><a href="#">Travelo Picks</a></li>
								<li class="col-xs-6"><a href="#">Latest Jobs</a></li>
								<li class="active col-xs-6"><a href="#">Mobile</a></li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3">
							<h2>Travel News</h2>
							<ul class="travel-news">
								<li>
									<div class="thumb">
										<a href="#"> <img src="http://placehold.it/63x63" alt=""
											width="63" height="63" />
										</a>
									</div>
									<div class="description">
										<h5 class="s-title">
											<a href="#">Amazing Places</a>
										</h5>
										<p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
										<span class="date">25 Sep, 2013</span>
									</div>
								</li>
								<li>
									<div class="thumb">
										<a href="#"> <img src="http://placehold.it/63x63" alt=""
											width="63" height="63" />
										</a>
									</div>
									<div class="description">
										<h5 class="s-title">
											<a href="#">Travel Insurance</a>
										</h5>
										<p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
										<span class="date">24 Sep, 2013</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-3">
							<h2>Mailing List</h2>
							<p>Sign up for our mailing list to get latest updates and
								offers.</p>
							<br />
							<div class="icon-check">
								<input type="text" class="input-text full-width"
									placeholder="your email" />
							</div>
							<br /> <span>We respect your privacy</span>
						</div>
						<div class="col-sm-6 col-md-3">
							<h2>About IRMC</h2>
							<p>Un institut de recherche et de documentation qui sert à enrichir le domaine
							de recherche en grand maghreb</p>
							<br />
							<address class="contact-details">
								<span class="contact-phone"><i class="soap-icon-phone"></i>
									1-800-123-HELLO</span> <br /> <a href="#" class="contact-email">help@travelo.com</a>
							</address>
							<ul class="social-icons clearfix">
								<li class="twitter"><a title="twitter" href="#"
									data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
								<li class="googleplus"><a title="googleplus" href="#"
									data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
								<li class="facebook"><a title="facebook" href="#"
									data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
								<li class="linkedin"><a title="linkedin" href="#"
									data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
								<li class="vimeo"><a title="vimeo" href="#"
									data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
								<li class="dribble"><a title="dribble" href="#"
									data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
								<li class="flickr"><a title="flickr" href="#"
									data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom gray-area">
				<div class="container">
					<div class="logo pull-left">
						<a href="#" title="Travelo - home"> 
						</a>
					</div>
					<div class="pull-right">
						<a id="back-to-top" href="#" class="animated"
							data-animation-type="bounce"><i
							class="soap-icon-longarrow-up circle"></i></a>
					</div>
					<div class="copyright pull-right">
						<p>IRMC 2018</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Javascript -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery.noconflict.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/modernizr.2.7.1.min.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery.placeholder.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery-ui.1.10.4.min.js"></script>

	<!-- Twitter Bootstrap -->
	<script type="text/javascript" src="#{request.contextPath}/ressources/js/bootstrap.js"></script>

	<!-- load revolution slider scripts -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

	<!-- load BXSlider scripts -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/components/jquery.bxslider/jquery.bxslider.min.js"></script>

	<!-- Flex Slider -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/components/flexslider/jquery.flexslider-min.js"></script>

	<!-- Google Map Api -->
	<script type='text/javascript'
		src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
	<script type="text/javascript" src="#{request.contextPath}/ressources/js/gmap3.min.js"></script>

	<!-- parallax -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery.stellar.min.js"></script>

	<!-- waypoint -->
	<script type="text/javascript" src="#{request.contextPath}/ressources/js/waypoints.min.js"></script>

	<!-- load page Javascript -->
	<script type="text/javascript" src="#{request.contextPath}/ressources/js/theme-scripts.js"></script>
	<script type="text/javascript" src="#{request.contextPath}/ressources/js/scripts.js"></script>

	<script type="text/javascript">
        tjq(document).ready(function() {
            tjq('.revolution-slider').revolution(
            {
                dottedOverlay:"none",
                delay:9000,
                startwidth:1170,
                startheight:646,
                onHoverStop:"on",
                hideThumbs:10,
                fullWidth:"on",
                forceFullWidth:"on",
                navigationType:"none",
                shadow:0,
                spinner:"spinner4",
                hideTimerBar:"on",
            });
        });
    </script>
</h:body>
</html>



